# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
!/saves/
!/logs/
!/mods/
!/config/
!/.gradle/
!/build/
!/.idea/
!/resourcepacks/
!/usercache.json
!/crash-reports/
!/usernamecache.json
!/options.txt

# Project exclude paths
/.gradle/
/build/